
img {
width: auto;
margin: 0px;
display:60px; 
}

body {
background-image: url(musikb.png);

}


#box-b {
 width: 50%;
 height: 50%;
 background-image: url(); 
 background: #
 border-radius: 0px; 
box-shadow: 5px 5px 5px rgba(0,0,0, 0.8);"
 }


8E9B9E


















